<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.3.5/sweetalert2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.3.5/sweetalert2.min.js" ></script>

</head>
<body>
    <header class="bg-dark p-3 text-center text-white sticky-top" style="z-index: 1;">
        <h2>Test sending email</h2>
        <a href="/" class="btn btn-sm btn-primary mt-2">Email Templates</a>
    </header>
    <div class="container-fluid mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5">
                <div class="card" style="height: 100%">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Create Mail</h4>
                    </div>
                    <div class="card-body">
                        <form action="/mail" method="POST" id="emailForm">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>From</label>
                                        <input type="email" name="from" class="form-control" value="amsshoyon@gmail.com" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>To</label>
                                        <input type="email" name="to" class="form-control" value="abdullah.mamun@sharetrip.net" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" name="subject" value="Test Email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Select Template</label>
                                    <select name="template" id="select-template" class="form-control" required>
                                        <option value="" selected disabled></option>
                                        <% templates.forEach(function(data){ %>
                                            <option value="<%= data.file %>"><%= data.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Json Data</label>
                                    <textarea name="data" id="josn-data" class="form-control" rows="15" required></textarea>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <button type="submit" class="btn btn-primary btn-sm pl-4 pr-4">Send</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="height: 100%">
                    <div class="card-header">
                        <h4>Json Preview</h4>
                    </div>
                    <div class="card-body">
                        <div class="data-show" style="white-space: pre-line; font-family: monospace;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="preview-email w-100">

            </div>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $('#select-template').on('change', function(){
            var template = $(this).val();
            var dir = $('input[name="dir"').val();
            $.ajax({
                url: "/getData",
                type: "post",
                data: {
                    template : template
                },
                success: function(res) {
                //   $('#josn-data').val(res);
                  
                    var tmpData = JSON.parse(res);
                    var formattedData = JSON.stringify(tmpData, null, 3);

                  $('.data-show').text(formattedData);

                  $('#josn-data').val(formattedData); 
                }
            });
        })

        $('#emailForm').on('submit', function(e){
            e.preventDefault();
            var form = $(this);

            $.ajax({
                url: "/mail",
                type: "post",
                data:  form.serialize(),
                success: function(res) {
                    res = JSON.parse(res);
                    var formattedData = JSON.stringify(res.info, null, 3);
                    $('.preview-email').html(res.template);
                    $('body, html').animate({
                        scrollTop: $(".preview-email").offset().top
                    }, 600);
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: res.message,
                        html: '<div style="white-space: pre-line; text-align: left; font-family: monospace;">'+formattedData+'</div>',
                        showConfirmButton: true
                    })

                }
            });
        })
    </script>
</body>
</html>