<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>St Email Templates</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"/>
    </head>

    <body>
        <main>
            <header class="bg-dark p-3 text-center text-white sticky-top" style="z-index: 1;">
                <h2>St Email Templates</h2>
            </header>

            <section class="index-body mt-5">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4>ST Rooms</h4>
                                    <a href="/email" class="send-mail btn btn-outline-primary btn-sm">Send Email</a>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsRegSubmit" target="_blank">st-rooms-reg-submit</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsRegFailed" target="_blank">st-rooms-reg-failed</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsRegSuccessful" target="_blank">st-rooms-reg-successful</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsPasswordResetRequest" target="_blank">st-rooms-password-reset-request</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsPasswordResetSuccessful" target="_blank">st-rooms-password-reset-successful</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsBookingConfirmation" target="_blank">st-rooms-booking-confirmation</a>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="st-rooms/stRoomsBookingCancel" target="_blank">st-rooms-booking-cancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>