<!-- Email Footer: start -->
<!-- ----------------- -->
<table style="margin-top: 32px;">
    <tr>
        <td>
            <div class="footer" style="background-color: #F5F5F5; padding: 48px 15px;">
                <h2 style="text-align: center; font-size: 20px; line-height: 25px; font-weight: 600; margin-bottom: 16px;">Contact</h2>
                <div class="footer-component" style="text-align: center; margin-bottom: 16px;">
                    <h3><strong>Head Office:</strong></h3>
                    <p class="h3">House: 45, Road: 13/C, Block: E, Banani, Dhaka, Bangladesh</p>
                </div>
                <div class="footer-component" style="text-align: center; margin-bottom: 24px;">
                    <h3><strong> Corporate office:</strong></h3>
                    <p class="h3"> House: 17, Road: 17/A, Block: E, Banani, Dhaka, Bangladesh</p>
                </div>
                <div class="footer-component" style="text-align: center; margin-bottom: 10px;">
                    <p class="h3" style="color: #1882FF;"><strong> <a href="mailto:www.strooms.sharetrip.net ">www.strooms.sharetrip.net</a></strong></p>
                </div>
                <div class="footer-component" style="text-align: center; margin-bottom: 16px;">
                    <p class="h3" style="color: #1882FF;"><strong> <a href="mailto:strooms@sharetrip.net">strooms@sharetrip.net</a> or <a href="tel:+8809617617617">+8809617617617</a></strong></p>
                    <p class="h3"> Copyright © 2019 ShareTrip. All Rights Reserved. </p>
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- Email Footer: end -->
<!-- ----------------- -->