<!-- Email Header: start -->
<!-- ------------------- -->
<table style="margin-bottom: 32px;">
    <tr>
        <td style="text-align: center;">
            <div class="logo w-100 center mb-2" style="max-width: 174px;">
                <img src="https://utility-assets.s3.amazonaws.com/media/assets/full-logo.png" alt="">
            </div>
            {% if title %}
            <h2 style="margin-top: 32px; font-weight: bold;">
                {{title}}
            </h2>
            {% endif %}
        </td>
    </tr>
</table>
<!-- ----------------- -->
<!-- Email Header: end -->