{% extends "layout/b2b-flight.njk" %}
{% block content %}

    {% set title = "Partial Payment Request Processed" %}
    {% include "modules/b2b-flight/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong>Mr.X.</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Your partial payment request has been updated. You need to pay the minimum
                                    amount set by ShareTrip under your partial payment request for the tickets to be
                                    issued. Check booking details page to see the update. To proceed with the
                                    request please follow the below link.
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <h3 style="margin: 8px 0;">Booking Information:</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="grid-3">
                                    <tr>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">Booking Code</p>
                                                <p>
                                                    <strong>STFL73504197</strong>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">PNR</p>
                                                <p>
                                                    <strong>Q1E3R4</strong>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">Reference</p>
                                                <p>
                                                    <strong>PARTIAL-5F3BAA56E7E8E</strong>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">Total Amount</p>
                                                <p>
                                                    <strong>BDT 72,449</strong>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">Requested at</p>
                                                <p>
                                                    <strong>18 Aug 2020</strong>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="booking-info" style="margin-bottom: 15px;">
                                                <p style="font-size: 12px; color: #4c4c4c;">Minimum Amount for Booking</p>
                                                <p>
                                                    <strong>BDT 1,260</strong>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="button" style="margin-top: 15px;">
                                                <a href="#" class="btn-primary">PAY NOW</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div style="margin-top: 24px;">
                                    <p>
                                        For any inconvenience please email us at
                                        <span style="color: #1882FF;">b2b@sharetrip.net</span>.
                                    </p>
                                    <p style="margin-top: 24px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>ShareTrip Team</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/b2b-flight/footer.njk" %}

{% endblock %}