<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        html,body{margin: 0; padding: 0; overflow-x: hidden}
        body{font-family:"SF Pro Display", "Segoe UI", "Source Sans Pro", Sans-Serif; font-size: 16px; color: #000; background: #ffffff;}
        .container{ max-width: 672px; width: 100%; margin-left: auto; margin-right: auto;}
        .footer{background-color: #F5F5F5; padding: 3rem}
        .w-100{ width: 100%;}
        img{width: 100%; height: auto;}
        .logo{ max-width: 174px;}
        .center{margin-left: auto; margin-right: auto;}
        table{width: 100%; border: none;}
        p, h1, h2, h3, h4{line-height: 1.3; margin: 0; padding: 0; font-weight: normal; }
        p{ margin-bottom: 8px;}
        h2{font-size: 1.5rem;}
        h3{font-size: 1.125rem;}
        .card-head{background-color: #1882FF; padding: 10.5px 16px; border-radius: 8px 8px 0px 0px; color: #FFFFFF;}
        .card-body{padding: 16px;border:2px solid #ececec;background-color: #fff;border-radius: 0 0 8px 8px;margin-top: -5px;border-top: none;}
        .card-body table{ margin-bottom: 8px; }
        .card-body p{ margin-bottom: 16px; } 
        .btn-primary{padding: 8px 16px; color: #FFFFFF !important; background-color: #1882FF; border-radius: 4px; text-decoration: none;}
        .h-line{width: 100%; border-bottom: 1px solid #F5F5F5;}
        .dotted-h-line{width: 100%; height: 1px; border-bottom: 2px dashed #235FD8;}
        .bs-20{border-spacing: 20px;}
        .table-spaced { border-spacing: 0}
        .table-spaced td, .table-spaced th{ padding: 15px 10px}
        .table-spaced thead{ padding: 15px 0}
        .table-spaced tr:nth-child(even){ background-color: #FAFAFA;}
        @media(max-width: 479px){
            .footer{padding: 1.5rem}
            .email-body {padding: 20px 10px;}
            .grid-3 tbody{ display: block;}
            .grid-3 tbody tr{ display: inline-block; width: 100% !important;}
            .grid-3 tbody tr td{ display: inline-block; width: 48% !important;}
        }
    </style>
</head>
<body>

<table>
    <tr>
        <td>
            <div class="container" style="max-width: 824px; border-radius: 16px; border: 2px solid #1882FF;">
                <!-- Email body: start -->
                <!-- ----------------- -->
                <table class="bs-20">
                    <tr>
                        <td>
                            <div class="logo">
                                <img src="https://utility-assets.s3.amazonaws.com/media/assets/full-logo.png" alt="">
                            </div>
                        </td>
                        <td style="text-align: right; font-size: 14px;">
                            <p>
                                <strong>ShareTrip Ltd.</strong>
                            </p>
                            <p>
                                House # 45, Road # 13/C, Block # E, Banani, Dhaka-1213.
                                <br>
                                +8809617617617, ask@sharetrip.net, www.sharetrip.net
                            </p>
                        </td>
                    </tr>
                </table>
                <div class="dotted-h-line"></div>
                <table class="bs-20" style="font-size: 12px; margin-top: 20px;">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>Serial No:</td>
                                    <td><strong>ST2019070920786</strong></td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td><strong>18 Aug 2020</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td style="text-align: right;">
                                        <h2 style="margin-right: 15px;"><strong>Payment Receipt</strong></h2>
                                    </td>
                                    <td>
                                        <img src="https://utility-assets.s3.amazonaws.com/media/assets/3-angle-line.png"
                                            alt="" style="width: 40px; height: auto; margin-bottom: -3px;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="bs-20" style="font-size: 12px;">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 170px;">
                                        <p>Received with thanks from</p>
                                    </td>
                                    <td colspan="2" style="border-bottom: 1px solid #000000">
                                        <p><strong>Cockpit Travels</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 60%">
                            <table>
                                <tr>
                                    <td style="width: 60%;">
                                        <table>
                                            <tr>
                                                <td style="width: 170px;">
                                                    <p>The Sum of taka</p>
                                                </td>
                                                <td style="border-bottom: 1px solid #000000">
                                                    <p><strong>Cockpit Travels</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 40%;">
                                        <table>
                                            <tr>
                                                <td style="width: 120px;">
                                                    <p>The Sum of taka</p>
                                                </td>
                                                <td style="border-bottom: 1px solid #000000">
                                                    <p><strong>Cockpit Travels</strong></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 170px;">
                                        <p>Received with thanks from</p>
                                    </td>
                                    <td style="border-bottom: 1px solid #000000">
                                        <p><strong>Cockpit Travels</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width: 170px;">
                                        <p>Received with thanks from</p>
                                    </td>
                                    <td style="border-bottom: 1px solid #000000">
                                        <p><strong>Cockpit Travels</strong></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table class="bs-20" style="font-size: 12px;">
                    <tr>
                        <td style="width: 190px;">
                            <table>
                                <tr>
                                    <td style="border-bottom: 1px solid #000000">
                                        <p><strong>ShareTrip Team</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Received by</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td style="width: 190px; text-align: right;">
                            <table>
                                <tr>
                                    <td style="border-bottom: 1px solid #000000">
                                        <p><strong>ShareTrip Team</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Received by</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- ----------------- -->
                <!-- Email body: end -->
            </div>
        </td>
    </tr>
</table>


</body>

</html>