<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        html,body{margin: 0; padding: 0; overflow-x: hidden}
        body{font-family:"SF Pro Display", "Segoe UI", "Source Sans Pro", Sans-Serif; font-size: 16px; color: #000; background: #ffffff;}
        .container{ max-width: 672px; width: 100%; margin-left: auto; margin-right: auto;}
        .footer{background-color: #F5F5F5; padding: 3rem}
        .w-100{ width: 100%;}
        img{width: 100%; height: auto;}
        .logo{ max-width: 174px;}
        .center{margin-left: auto; margin-right: auto;}
        table{width: 100%; border: none;}
        p, h1, h2, h3, h4{line-height: 1.3; margin: 0; padding: 0; font-weight: normal; }
        p{ margin-bottom: 8px;}
        h2{font-size: 1.5rem;}
        h3{font-size: 1.125rem;}
        .card-head{background-color: #1882FF; padding: 10.5px 16px; border-radius: 8px 8px 0px 0px; color: #FFFFFF;}
        .card-body{padding: 16px;border:2px solid #ececec;background-color: #fff;border-radius: 0 0 8px 8px;margin-top: -5px;border-top: none;}
        .card-body table{ margin-bottom: 8px; }
        .card-body p{ margin-bottom: 16px; } 
        .btn-primary{padding: 8px 16px; color: #FFFFFF !important; background-color: #1882FF; border-radius: 4px; text-decoration: none;}
        .h-line{width: 100%; border-bottom: 1px solid #F5F5F5;}
        .dotted-h-line{width: 100%; height: 1px; border-bottom: 2px dashed #235FD8;}
        .bs-20{border-spacing: 20px;}
        .table-spaced { border-spacing: 0}
        .table-spaced td, .table-spaced th{ padding: 15px 10px}
        .table-spaced thead{ padding: 15px 0}
        .table-spaced tr:nth-child(even){ background-color: #FAFAFA;}
        @media(max-width: 479px){
            .footer{padding: 1.5rem}
            .email-body {padding: 20px 10px;}
            .grid-3 tbody{ display: block;}
            .grid-3 tbody tr{ display: inline-block; width: 100% !important;}
            .grid-3 tbody tr td{ display: inline-block; width: 48% !important;}
        }
    </style>
</head>
<body>



<!-- Email Header: start -->
<!-- ------------------- -->
<table style="margin-bottom: 32px;">
    <tr>
        <td style="text-align: center;">
            <div class="logo w-100 center mb-2" style="max-width: 174px;">
                <img src="https://utility-assets.s3.amazonaws.com/media/assets/full-logo.png" alt="">
            </div>
            
            <h2 style="margin-top: 32px; font-weight: bold;">
                Partial Payment Successfully Received  
            </h2>
            
        </td>
    </tr>
</table>
<!-- ----------------- -->
<!-- Email Header: end -->

<table>
    <tr>
        <td>
            <div class="container">
                <!-- Email body: start -->
                <!-- ----------------- -->
                <table>
                    <tr>
                        <td>
                            <p>Dear <strong>Mr.X.</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>We’ve received the placing partial payment request for booking your flight. We’ll inform
                                you shortly about the request status. Please find below your booking information in
                                detail. </p>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <h3 style="margin: 8px 0;">Booking Information:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="grid-3">
                                <tr>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Booking Code</p>
                                            <p><strong>STFL73504197</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">PNR</p>
                                            <p><strong>Q1E3R4</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Reference</p>
                                            <p><strong>PARTIAL-5F3BAA56E7E8E</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Total Amount</p>
                                            <p><strong>BDT 72,449</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Requested at</p>
                                            <p><strong>18 Aug 2020</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Requested at</p>
                                            <p><strong>18 Aug 2020</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Total Amount</p>
                                            <p><strong>BDT 72,449</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Requested at</p>
                                            <p><strong>18 Aug 2020</strong></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Requested at</p>
                                            <p><strong>18 Aug 2020</strong></p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- card module -->
                <table>
                    <thead>
                        <tr>
                            <td>
                                <div class="card-head">
                                    Price Summary
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card-body" style="padding: 0;">
                                    <table style="border-spacing: 15px;">
                                        <tr>
                                            <td style="text-align: left; font-size: 12px;">
                                                Total Amount
                                            </td>
                                            <td style="text-align: right; font-size: 12px;">
                                                <strong>BDT 72,449</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left; font-size: 12px;">
                                                Partial Payment
                                            </td>
                                            <td style="text-align: right; font-size: 12px;">
                                                <strong>-1,260</strong>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="h-line"></div>
                                    <table style="border-spacing: 15px;">
                                        <tr>
                                            <td style="text-align: left; font-size: 14px;">
                                                <strong>Due Amount</strong>
                                            </td>
                                            <td style="text-align: right; font-size: 12px;">
                                                <strong>BDT 71,189</strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
                <!-- card module -->

                <!-- ----------------- -->
                <!-- Email body: end -->
            </div>
        </td>
    </tr>
</table>

<!-- Email Footer: start -->
<!-- ----------------- -->
<table style="margin-top: 32px;">
    <tr>
        <td>
            <div class="footer" style="background-color: #F5F5F5; padding: 30px">
                <div class="footer-component" style="text-align: center; margin-bottom: 16px;">
                    <p><strong>Office address:</strong></p>
                    <p>House: 45, Road: 13/C, Block: E, Banani, Dhaka, Bangladesh</p>
                </div>
                <div class="footer-component" style="text-align: center; margin-bottom: 16px;">
                    <p><strong> Corporate office address:</strong></p>
                    <p> House: 17, Road: 17/A, Block: E, Banani, Dhaka, Bangladesh</p>
                </div>
                <div class="footer-component" style="text-align: center; margin-bottom: 16px;">
                    <p style="color: #1882FF;"><strong> b2b@sharetrip.net | +8809617617617</strong></p>
                    <p> Copyright © 2019 ShareTrip. All Rights Reserved. </p>
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- Email Footer: end -->
<!-- ----------------- -->

</body>

</html>