<style>
    .container{ padding-bottom: 170px; position: relative;}
</style>
<table class="contact-footer" style="margin-top: 50px; position: absolute; bottom: 0; left: 0; width: 100%;">
    <tr>
        <td>
            <div class="contact-footer-content" style="font-size: .875rem;">
                <p style="margin-bottom: 18px;"><strong>Contact</strong></p>
                <p><strong>Head Office address: </strong> House: 45, Road: 13/C, Block: E, Banani, Dhaka, Bangladesh</p>
                <p><strong>Corporate office address: </strong> House: 17, Road: 17/A, Block: E, Banani, Dhaka, Bangladesh</p>
                <p><strong>b2b@sharetrip.net | +8809617617617 </strong></p>
            </div>
        </td>
    </tr>
</table>