{% extends "layout/st-rooms.njk" %}
{% block content %}

{% set title = "Booking Confirmation" %}
{% include "modules/st-rooms/header.njk" %}

<table>
    <tr>
        <td>
            <div class="container">
                <!-- Email body: start -->
                <!-- ----------------- -->
                <table>
                    <tr>
                        <td>
                            <p>Dear
                                <strong>
                                    <%= receiverName %>,</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>We’ve received a booking through ST Rooms. Please find below the booking
                                details along with the cancellation and refund policy.</p>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <h3 style="margin: 8px 0;">
                                <strong>Booking Information:</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="grid-3">
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Booking ID</p>
                                            <p>
                                                <strong>
                                                    <%= bookingId %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Customer Name</p>
                                            <p>
                                                <strong><%= customerName  %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Reservation Date</p>
                                            <p>
                                                <strong><%= reservationDate %></strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Check In</p>
                                            <p>
                                                <strong><%= checkIn %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Check Out</p>
                                            <p>
                                                <strong><%= checkout %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Number of Guest(s)</p>
                                            <p>
                                                <strong><%= numberOfGuest %></strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Number of Room(s)</p>
                                            <p>
                                                <strong><%= numberOfRooms %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Total Paid Amount</p>
                                            <p>
                                                <strong><%= grandTotalAmount %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Free Cancellation</p>
                                            <p>
                                                <strong><%= freeCancellationDate %>
                                                </strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <div>
                                <p style="font-size: 14px;">*Price includes VAT & Tax.</p>
                                <h3 style="margin-top: 24px;">
                                    <strong>Other Guests:</strong>
                                </h3>
                                <p>Lubaba Mannan, Hassan Mazedul, Mannan Lubaba, Mazedul Hassan.</p>
                            </div>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 12px;">
                    <tr>
                        <td>
                            <h3>
                                <strong>Room Information:</strong>
                            </h3>
                            <table class="table table-spaced" border="0"
                                style="font-size: 14px; line-height: 18px; text-align: left; min-width: 635px; border: 1px solid #EFEFF4">
                                <thead style="background-color: #EFEFF4;">
                                    <tr>
                                        <th style="font-weight: 500">Room Type</th>
                                        <th style="font-weight: 500">Number of Room(s)</th>
                                        <th style="font-weight: 500">Occupancy</th>
                                        <th style="font-weight: 500">Number of Extra Bed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% rooms.forEach(function(data){ %>
                                    <tr>
                                        <td><%= data.roomType %></td>
                                        <td><%= data.numberOfRooms %></td>
                                        <td>
                                            <% if (data.adt) { %> <%= data.adt %> <%} else { %> 0 <% } %>
                                            Adt(s),

                                            <% if (data.chd) { %> <%= data.chd %> <%} else { %> 0 <% } %>
                                            Chd(s)
                                        </td>
                                        <td><%= data.extraBed %></td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 24px;">
                    <tr>
                        <td>
                            <div>
                                <h3>
                                    <strong>Meal Plan:</strong>
                                </h3>
                                <p><%= mealPlan %></p>
                                <h3 style="margin-top: 24px;">
                                    <strong>Special Requests
                                    </strong>(All special requests are subject to availability upon arrival):</h3>
                                <p><%= specialRequest %></p>
                            </div>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 14px;">
                    <tr>
                        <td>
                            <h3>
                                <strong>Price Summary:</strong>
                            </h3>
                            <table class="table table-summary" border="0"
                                style="font-size: 14px; line-height: 20px; text-align: left; min-width: 635px; border: 1px solid #EFEFF4">
                                <thead style="background-color: #EFEFF4;">
                                    <tr>
                                        <th>Details</th>
                                        <th style="text-align: right;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% rooms.forEach(function(data){ %>
                                    <tr>
                                        <td>
                                            <%= data.roomType %>: Adult
                                            <% if (data.adult) { %>
                                            <%= data.adult %>
                                            <%} else { %>
                                            0
                                            <% } %>, Child
                                            <% if (data.child) { %>
                                            <%= data.child %>
                                            <%} else { %>
                                            0
                                            <% } %>
                                            <br>
                                            <%= data.duration %>
                                            Night(s)</td>
                                        <td style="text-align: right;">
                                            <strong><%= data.amount %></strong>
                                        </td>
                                    </tr>
                                    <% }); %>
                                    <tr>
                                        <td colspan="2">
                                            <div
                                                style="border-top: 1px solid #EFEFF4; border-bottom:1px solid #EFEFF4;">
                                                <table>
                                                    <tr>
                                                        <td style="padding-left: 0;padding-right: 0; text-align: left;">
                                                            Amount<br>Discount</td>
                                                        <td
                                                            style="padding-left: 0;padding-right: 0; text-align: right;">
                                                            <strong>
                                                                <%= totalAmount %></strong><br>
                                                            <strong><%= discount %></strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Total Amount</strong>
                                        </td>
                                        <td>
                                            <strong><%= grandTotalAmount %></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 24px;">
                    <tr>
                        <td>
                            <div>
                                <h3>
                                    <strong>Cancellation Policy:</strong>
                                </h3>
                                <p>As per the cancellation policy of the hotel.</p>
                            </div>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <div style="margin-top: 15px;">
                                <p style="margin-bottom: 2px;">Thank You</p>
                                <p>
                                    <strong>ShareTrip Team</strong>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- ----------------- -->
                <!-- Email body: end -->
            </div>
        </td>
    </tr>
</table>

{% include "modules/st-rooms/footer.njk" %}

{% endblock %}