{% extends "layout/st-rooms.njk" %}
{% block content %}

    {% set title = "Request to reset your password for ST Rooms" %}
    {% include "modules/st-rooms/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong><%= receiverName  %>,</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>We have received a request to change the password on your account. If you have requested this password change, click the link below to set a new password.</p>
                                <p style="margin: 24px 0;"><a href="<%= passwordResetUrl %>" target="_blank"><strong>Click here to change your password</strong></a></p>
                                <p>
                                    For your own security, we suggest you to provide a strong password using alphabets, numerals and symbols. 
                                    Please ignore this email if you have not request for the reset.
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div>
                                    <p style="margin-top: 14px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>Team ST Rooms</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/st-rooms/footer.njk" %}

{% endblock %}