{% extends "layout/st-rooms.njk" %}
{% block content %}

    {% set title = "Reset your password for ST Rooms" %}
    {% include "modules/st-rooms/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong><%= receiverName  %>,</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>There was recently a request to change the password on your account. If you requested this password change, please click the link below to set a new password.</p>
                                <p style="margin: 24px 0;"><a href="<%= passwordResetUrl %>" target="_blank"><strong>Click here to change your password</strong></a></p>
                                <p>
                                   We recommend not to share your password with anyone and to use complicated initials for security purposes. ShareTrip Ltd. will not be held accountable for any unwanted changes in the panel. We’re sending you this because we’ve received a request to reset your password. If you didn’t make this request, just ignore this email.
                                </p>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div>
                                    <p style="margin-top: 14px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>ShareTrip Team</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/st-rooms/footer.njk" %}

{% endblock %}