{% extends "layout/st-rooms.njk" %}
{% block content %}

    {% set title = "Registration Successful" %}
    {% include "modules/st-rooms/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong><%= receiverName %>,</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Your registration is complete. However, customers are unable to make any bookings! We still need a few final details before they can begin booking their stays.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-top: 14px;">
                                    <p>Click the link below to complete the process: <br>
                                    <a href="https://strooms.sharetrip.net" target="_blank"><strong>https://strooms.sharetrip.net</strong></a> <br>
                                    User Name: <strong><%= username %></strong> <br>
                                    Password: <strong><%= password %></strong></p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div style="margin-top: 14px;">
                                    <p>
                                        Keep your password and log in credentials safe and secured.
                                    </p>
                                    <p style="margin-top: 24px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>Team ST Rooms</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/st-rooms/footer.njk" %}

{% endblock %}