{% extends "layout/st-rooms.njk" %}
{% block content %}

{% set title = "General Query" %}
{% include "modules/st-rooms/header.njk" %}

<table>
    <tr>
        <td>
            <div class="container">
                <!-- Email body: start -->
                <!-- ----------------- -->

              <table>
            <tr>
                <td>
                    <div class="container">
                        <!-- Template Main: Start -->
                        <table>
                            <tr>
                                <td>
                                    <p style="margin-top: 16px;"><strong>Name</strong></p>
                                    <p><%= name %></p> 
                                    <p style="margin-top: 16px;"><strong>Property Name</strong></p>
                                    <p><%= propertyName %></p>
                                    <p style="margin-top: 16px;"><strong>Phone Number</strong></p>
                                    <p><%= phone %></p>
                                  
                                    <p style="margin-top: 16px;"><strong>Email Address</strong></p>
                                    <p><%= email %></p>
                                    
                                    <p style="margin-top: 16px;"><strong>Message</strong></p>
                                    <p><%= message %></p>
                                   
                                </td>
                            </tr>
                        </table>
                        <!-- Template Main: End -->
                    </div>
                </td>
            </tr>
        </table>

                <!-- ----------------- -->
                <!-- Email body: end -->
            </div>
        </td>
    </tr>
</table>

{% include "modules/st-rooms/footer.njk" %}

{% endblock %}