{% extends "layout/st-rooms.njk" %}
{% block content %}

{% set title = "Booking has been Cancelled!" %}
{% include "modules/st-rooms/header.njk" %}

<table>
    <tr>
        <td>
            <div class="container">
                <!-- Email body: start -->
                <!-- ----------------- -->
                <table>
                    <tr>
                        <td>
                            <p>Dear
                                <strong><%= receiverName %>, </strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>This is to inform you that a booking through ST Rooms has been cancelled. The cancellation charge will be adjusted as per cancellationn policy. Please find the booking details below.</p>
                        </td>
                    </tr>
                </table>

                <table style="margin-top: 12px;">
                    <tr>
                        <td>
                            <div class="booking-info" style="margin-bottom: 15px;">
                                <p style="font-size: 12px; color: #4c4c4c;">Cancellation Charge</p>
                                <p>
                                    <strong><%= cancellationCharge %></strong>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="booking-info" style="margin-bottom: 15px; margin-top: 6px;">
                                <p style="font-size: 12px; color: #4c4c4c;">Cancellation and Change Policy:</p>
                                <p>
                                    Any cancellation received within 48 hours before arrival is free of charge. Failure to arrive at your hotel or property will be treated as No-Show and will incur the first 1 night/s charge (Property policy).
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <h3 style="margin: 8px 0;">
                                <strong>Booking Information:</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="grid-3">
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Booking ID</p>
                                            <p>
                                                <strong><%= bookingId %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Customer Name</p>
                                            <p>
                                                <strong><%= customerName %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Reservation Date</p>
                                            <p>
                                                <strong><%= reservationDate %></strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Check In</p>
                                            <p>
                                                <strong><%= checkIn %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Check Out</p>
                                            <p>
                                                <strong><%= checkout %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Number of Guest(s)</p>
                                            <p>
                                                <strong><%= numberOfGuest %></strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Number of Room(s)</p>
                                            <p>
                                                <strong><%= numberOfRooms %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Total Paid Amount</p>
                                            <p>
                                                <strong><%= totalPaid %></strong>
                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="booking-info" style="margin-bottom: 15px;">
                                            <p style="font-size: 12px; color: #4c4c4c;">Free Cancellation</p>
                                            <p>
                                                <strong><%= freeCancellationDate %></strong>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
                <table>
                    <tr>
                        <td>
                            <div>
                                <p style="font-size: 14px;">*Price includes VAT & Tax.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>


                <table style="margin-top: 12px; ">
                    <tr>
                        <td>
                            <div>
                                <p>Please mail at <strong><a href="mailto:strooms@sharetrip.net">strooms@sharetrip.net</a></strong> for any assistance.</p>
                            </div>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <div style="margin-top: 15px;">
                                <p style="margin-bottom: 2px;">
                                    Thank You
                                </p>
                                <p>
                                    <strong>Team ST Rooms</strong>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- ----------------- -->
                <!-- Email body: end -->
            </div>
        </td>
    </tr>
</table>

{% include "modules/st-rooms/footer.njk" %}

{% endblock %}