{% extends "layout/st-rooms.njk" %}
{% block content %}

    {% set title = "Password has been changed successfully" %}
    {% include "modules/st-rooms/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong><%= receiverName %>,</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Your password has been changed successfully for the ST Rooms Panel. If you have any questions, please contact us at <strong><a href="mailto:strooms@sharetrip.net">strooms@sharetrip.net</a></strong> or <strong>+8809617618618</strong>.</p>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div>
                                    <p style="margin-top: 14px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>Team ST Rooms</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/st-rooms/footer.njk" %}

{% endblock %}