{% extends "layout/st-rooms.njk" %}
{% block content %}

    {% set title = "Registration Successful" %}
    {% include "modules/st-rooms/header.njk" %}

    <table>
        <tr>
            <td>
                <div class="container">
                    <!-- Email body: start -->
                    <!-- ----------------- -->

                    <table>
                        <tr>
                            <td>
                                <p>Dear
                                    <strong><%= receiverName %>,</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Your registration is almost complete. We’re happy to have you on board. We just need a few more information to help you go live in our website.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="margin-top: 14px;">
                                    <p>Click the link below to proceed with your account registration: <br>
                                    <a href="https://stg-sthotel.sharetrip.net" target="_blank"><strong>https://stg-sthotel.sharetrip.net</strong></a> <br>
                                    User Name: <strong><%= username %></strong> <br>
                                    Password: <strong><%= password %></strong></p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <div style="margin-top: 14px;">
                                    <p>
                                        Keep your password safe, and do not share the login credentials with anyone other than your team/employees.
                                    </p>
                                    <p style="margin-top: 24px; margin-bottom: 2px;">
                                        Thank You
                                    </p>
                                    <p>
                                        <strong>ShareTrip Team</strong>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- ----------------- -->
                    <!-- Email body: end -->
                </div>
            </td>
        </tr>
    </table>

    {% include "modules/st-rooms/footer.njk" %}

{% endblock %}